<form>
  <mat-card class="form-card" style="text-align: center">
    <h1>Forgot password</h1>

    <div style="margin-bottom: 15px">
      <mat-error *ngFor="let err of errors"> {{ err }}</mat-error>
    </div>

    <mat-form-field>
      <mat-label>Email</mat-label>

      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        matInput
        placeholder="Ex. pat@example.com"
      />
    </mat-form-field>

    <button (click)="sendResetLink()" mat-raised-button color="primary">
      Reset Password
    </button>

    <div class="form-links">
      <a href="register-user">Don't have an account? Sign Up!</a>
      <a href="sign-in">Already have an account? Sign In!</a>
    </div>
  </mat-card>
</form>
