<header>
  <div class="home-text">
    <h1>Welcome on KanbanApp</h1>
    <p>The best way to planning your tasks</p>
    <a
      style="
        color: white;
        font-size: 16px;
        border-color: white;
        text-decoration: none;
        margin-top: 1rem;
      "
      mat-stroked-button
      routerLink="/sign-in"
    >
      Try now!
    </a>
  </div>

  <div class="home-img">
    <img
      src="../../../assets/images/undraw_scrum_board_re_wk7v.svg"
      alt=""
      srcset=""
    />
  </div>
</header>

<div>
  <p style="color: white; text-align: center">
    Kanban is a popular Lean process management method for defining, managing,
    and improving knowledge-delivering services. It helps you visualize your
    work, maximize efficiency, and continuously improve. The work is visualized
    in boards, which allows you to optimize the delivery of products by multiple
    teams and handle even the most complex projects in a homogeneous
    environment.
  </p>
</div>
